apiVersion: apps/v1
kind: Deployment
metadata:
  name: movie-api-deployment
  labels:
    app: movie-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movie-api
  template:
    metadata:
      labels:
        app: movie-api
    spec:
      containers:
      - name: movie-api
        image: sopies/movie-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: MOVIE_API_KEY
          valueFrom:
            secretKeyRef:
              name: secrets
              key: MOVIE_API_KEY
