name: Branch-CI

on:
  push:
    branches-ignore:
      - master
      - dev

jobs:
  # Static style code analysis
  Use-Flake8:
    name: Use Flake8
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.0

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        uses: py-actions/flake8@v2

  Use-MyPy:
    name: Use-MyPy
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.0

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install MyPy
        run: pip install mypy

      - name: Run mypy
        uses: sasanquaneuf/mypy-github-action@releases/v1
        with:
          checkName: "Use-MyPy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Use-Ruff:
    name: Use Ruff
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Ruff
        uses: chartboost/ruff-action@v1

  Run-Python-Tests:
    name: Run Python Tests
    runs-on: ubuntu-latest

    needs: [Use-Flake8, Use-MyPy, Use-Ruff]

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.0

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r src/requirements.txt

      - name: Run Tests
        run: |
          cd $GITHUB_WORKSPACE/src
          export MOVIE_API_KEY=${{ secrets.MOVIE_API_KEY }}
          python3 -m unittest tests.py

  # Static security code analysis

  Scan-With-Grype:
    name: Scan with Grype
    runs-on: ubuntu-latest

    needs: [Run-Python-Tests]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - uses: anchore/scan-action@v3
        with:
          path: "."
