name: Dev-CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - "master"

jobs:
  # Static style code analysis
  Use-MyPy:
    name: Use-MyPy
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.0

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install MyPy
        run: pip install mypy

      - name: Run mypy
        uses: sasanquaneuf/mypy-github-action@releases/v1
        with:
          checkName: "Use-MyPy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Use-Ruff:
    name: Use Ruff
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Ruff
        uses: chartboost/ruff-action@v1

  Run-Python-Tests:
    name: Run Python Tests
    runs-on: ubuntu-latest

    needs: [Use-MyPy, Use-Ruff]

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.0

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r src/requirements.txt

      - name: Run Tests
        run: |
          cd $GITHUB_WORKSPACE/src
          export MOVIE_API_KEY=${{ secrets.MOVIE_API_KEY }}
          python3 -m unittest tests.py

  # Static security code analysis
  Scan-With-SonarCloud:
    name: Scan with SonarCloud
    runs-on: ubuntu-latest

    needs: [Run-Python-Tests]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}

  Scan-With-Snyk:
    name: Scan with Snyk
    runs-on: ubuntu-latest

    needs: [Run-Python-Tests]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Python
        run: sudo apt-get update -y && sudo apt-get install -y python3 python3-pip

      - name: Install Dependencies
        run: pip install -r src/requirements.txt

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk
        run: snyk test --file=src/requirements.txt
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  Scan-With-Grype:
    name: Scan with Grype
    runs-on: ubuntu-latest

    needs: [Run-Python-Tests]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - uses: anchore/scan-action@v3
        with:
          path: "."
